.projectCardWrapper {
    position: relative;
    display: inline-block;
}

.projectCard{
    background-color: #202020;
    border: 1px solid #262626;

    border-radius: 8px;
    /* padding: 3px; */

    position: relative;
    z-index: 1;
    transition: transform 0.15s;

    overflow: hidden;
}

.projectCard:hover{
    cursor: pointer;
    transform: scale(1.02);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.15s;
}

.projectCardWrapper:hover .overlay {
    opacity: 1;
}

.overlayAnimation {
    z-index: 1;
}

.glowEffect{
    content: "";
    position: absolute;
    top: 30%;
    left: 50%;
    translate: -50% -50%;
    width: 120%;
    height: 120%;
    background: radial-gradient(circle, rgba(255, 255, 255, 1), transparent);
    opacity: 0.0;
    z-index: 0;
    filter: blur(60px);

    transition: opacity 0.15s;

    pointer-events: none;
}

.projectBanner{
    aspect-ratio: 16 / 9;
    width: 100%;

    position: relative;
    overflow: hidden;
}

.projectDescription{
    display: flex;
    flex-direction: column;
    gap: 6px;
    
    padding: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.projectTitle{
    font-size: 16px !important;
}

@media (max-width: 1024px){
    .projectCard{
        border-radius: 3px;
    }

    .projectDescription{
        padding: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .projectTitle{
        font-size: 14px !important;
    }
    
}