.container{
    width: 100%;
    height: 700px;
    background: var(--background-color-300);
    display: flex;
    flex-direction: row;
    justify-content: stretch;


    /* border: 1px solid lightgray; */

    position: relative;
}

.textContainer{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    /* border: 1px solid lightgray; */
    flex-basis: 20%;
    flex-grow: 1;

    z-index: 1;
}

.flexBasis{
    flex-basis: 0;
    flex-grow: 1;
}

.imageContainer{
    /* border: 1px solid lightgray; */
    position: absolute;
    right: -240px;

    width: 945px;
    height: 100%;

    background-image: url("./Content/MainPhoto.png");

    z-index: 0;
}

.textContainerSocial{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flexWrapper{
    /* padding: 30px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    /* padding-left: 80px; */
    padding-right: 80px;
    padding-bottom: 130px;
}
