.body{
    padding: 20px;
    /* max-width: 1600px; */
    align-self: center;
}

.gridContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    gap: 20px;
}

.gridElement{
    /* background-color: grey; */
    flex-basis: calc(33% - 20px);
    flex-shrink: 0;
    flex-grow: 1;
    /* padding: 20px; */
    max-width: calc(33% - 20px);

    height: auto;
    min-height: 300px;
    /* overflow: hidden; */

    border: 1px solid var(--border-color-600);
    border-radius: 12px;
}

.textContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;

    /* border: 1px solid lightgray; */

    flex-basis: 0;
    flex-grow: 1;
}

/* @media (max-width: 2100px) {
    .gridElement { height: 500px; } 
} 

@media (max-width: 1920px) {
.gridElement { height: 450px; } 
} 

@media (max-width: 1550px) {
    .gridElement { height: 350px; } 
}  */