.u-text-secondary{
    color: var(--text-color-secondary);
}


.u-layout_flex-row{
    display: flex;
    flex-direction: row;
}

.u-layout_flex-column{
    display: flex;
    flex-direction: column;
}

.u-layout_flex-start-center{
    justify-content: flex-start;
    align-items: center;
}

.u-layout_flex-start-start{
    justify-content: flex-start;
    align-items: flex-start;
}

.u-layout_flex-end-start{
    justify-content: flex-end;
    align-items: flex-start;
}

.u-layout_flex-space-between-center{
    justify-content: space-between;
    align-items: center;
}

.u-layout_flex-wrap{
    flex-wrap: wrap;
}

.u-align-self-center{
    align-self: center;
}

.u-position-relative{
    position: relative;
}

.u-page-padding{
    padding-left: 64px;
    padding-right: 64px;
}

.u-width-heigth-100perc{
    width: 100%;
    height: 100%;
}

.u-width-100perc{
    width: 100%;
}

.u-width-100{
    width: 100px;
}

.u-clamped-width {
    min-width: 100%;
    width: 0;
}

.u-height-1rem{
    height: 1rem;
}

.u-margin-s{
    margin-top: 3px;
    margin-bottom: 3px;
}

.u-margin-m{
    margin-top: 6px;
    margin-bottom: 6px;
}

.u-margin-l{
    margin-top: 8px;
    margin-bottom: 8px;
}

.gap-s{
    gap: 3px;
}

.gap-m{
    gap: 6px;
}

.gap-l{
    gap: 8px;
}

.gap-xl{
    gap: 10px;
}

.gap-xxl{
    gap: 12px;
}


.u-prevent-select{
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}

.u-events-none{
    pointer-events: none;
}

.u-events-all{
    pointer-events: all;
}


@media (min-width: 1024px){
    .u-media-mobile-only{
        display: none !important;
    }
}

@media (max-width: 1024px){
    .u-media-pc-only{
        display: none !important;
    }
}