.expandButton{
    position: absolute;
    bottom: 0;
    left: 0;
}

.contentBlock{
    overflow: hidden;
    height: 100%;
}

.contentBlockWrapper{
    position: relative;
    height: 100%;
}

.notExpanded{
    max-height: 600px;
    padding-bottom: 50px;
    position: relative;
}

.expanded{
    max-height: none;
}

.gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80%;
    background: linear-gradient(rgba(0,0,0,0), #0C0C0C);
}