.chip{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2px;

    border: 1px solid white;
    border-radius: 1024px;
    padding: 2px 8px 2px 8px;

    background-color: var(--background-color-400);
}

.chipQuiet{
    border: 0px;
    background-color: rgba(0, 0, 0, 0);
}

.label{
    
}

.icon{
    width: 25px;
    height: 25px;
    object-fit: contain;
}

.size_S{
    font-size: 14px;
    padding: 1px 6px 1px 6px;
}

.size_S .icon{
    width: 20px;
    height: 20px;
}