.expandButton{
    position: absolute;
    bottom: 0;
    left: 0;
}

.contentBlock{
    overflow: hidden;
    height: 100%;
}

.notExpanded{
    max-height: 500px;
    padding-bottom: 50px;
    position: relative;
}

.expanded{
    max-height: none;
}

.gradientTransparemt{
    -webkit-mask-image: linear-gradient(black, transparent);
    mask-image: linear-gradient(black, transparent);
}