.expandButton{
    position: absolute;
    bottom: 0;
    left: 0;
}

.contentBlock{
    overflow: hidden;
    height: 100%;
}

.notExpanded{
    padding-bottom: 50px;
    position: relative;

    overflow: hidden;
}

.notExpandedHeight{
    max-height: 400px;
}

.expanded{
    max-height: none;
}

.gradientTransparemt{
    -webkit-mask-image: linear-gradient(black, rgba(0,0,0,0.1));
    mask-image: linear-gradient(black, rgba(0,0,0,0.1));
}