.section{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.teamMembersContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
}

.teamMemberCard{
    padding: 12px;

    max-width: 200px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.avatar {
    width: 150px !important;
    height: 150px !important;
}

@media (max-width: 1024px){
    .teamMemberCard{
        max-width: 150px;
    }

    .avatar {
        width: 100px !important;
        height: 100px !important;
    }
}