.container{
    width: 100%;
    min-height: 200px;

    display: flex;
    flex-direction: row;
    gap: 32px;
}

.background{
    background: var(--background-color-400);

    border-top-width: 2px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-bottom-width: 0px;
    border-style: solid;
    border-color: var(--background-color-300);
}


.flexContainer{
    flex-basis: 0;
    flex-grow: 1;
}

.textWrapper{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 12px;

    padding-top: 40px;
    padding-bottom: 40px;
}