.container{
    width: 100%;
    padding: 12px;
    /* background: rgba(0,0,0,0.4); */
    background: var(--background-color-400);

    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 22px;
    
    position: sticky;
    top: 0;

    /* border: 1px solid lightgray; */

    backdrop-filter: blur(10px);
}

.active{
    border-bottom-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: white;
}